<div class="container">

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>My Burger </h1>
                <p>Burger Orders for Pickup.</p>
                <br>
                <h2> Order Your Choice Of Burger! </h2><br>
            
                <form class="create-form">

                    <div class="input-group">
                        
                        <input class="form-control" type="input" placeholder="My Burger" >
                        <span class="input-group-addon"><button type="button" class="btn btn-info">Info</button></span>
                    </div>


                </form> 
            </div> <br>  
            <div class="col-sm-1">
                

            </div> 
             <div class="col-sm-5" id="imgid">
                <img src="/assets/img/my-burger.png" alt="burger img">

            </div> 
        </div>        

            
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lSide"><strong>Order Your Burger</strong>
                    <p> Press the button when ready to EAT.</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="btn btn-info eatB" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">EAT</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rSide"><strong>Burger is Ready for Pick Up</strong>
                    <p>Remove order when done EATING</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class=" btn btn-info trash" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">TRASH</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->